  <table>
  <tr>
	<?php
	foreach ($friends as $posts): 


	//foreach ($post as $posts): 
	//echo $posts['p']['username'];
	?>
	<th>Picture</th>
    <th><?php echo $this->Html->link($posts['p']['firstname'].' '.$posts ['p']['lastname'],array(
   'action' =>'index',$posts['p']['id'] )); ?></th>
    <th><?php echo $posts['p']['username']; ?></th>
  </tr>
  <?php  
    ?>
  <tr>

	<?php
	endforeach;

?>
<?php echo $this->Form->create('Profile',array(
	'controller' =>'Profile',
	'action'=>'search'));
		echo $this->Form->input('username');
		echo $this->Form->end('Search');
?>
</table>

    