 <?php
 if(AuthComponent::user()){
 	echo $this->HTML->Link('Logout', array('controller'=> 'users','action'=>'logout'));
 }
else {
	$this->redirectUrl('users/login');
}
//print_r($profileFriend);
 ?>
		   <ul class="about">

            <li>
                <i></i>
                <label>Name: <?php  
   echo $profile['Profile']['firstname'].' '.$profile['Profile']['lastname'] ;?></label>
                
                <div class="clear"></div>
            </li>


            <li> 
                <i></i>
                <label>Username: <?php  
   echo $profile['Profile']['username'] ?> <span class="value"></span>
                <div class="clear"></div></label>
                
            </li>

            <li>
                <i></i>
                <label>Email: 
                <div class="clear"></div></label>
                
            </li>

            <li>
                <i></i>
                <label>Gender: <?php 
   	if ($profile['Profile']['gender_id']==1) 
   		{ echo "Male";
   }
   else
   	{ echo "Female";}


   		?></label>
                <span class="value"></span>
            </li>

            <li>
                <i></i>
                <label>Friends: <?php 
                if($profileFriend != Null)
                {
                echo count($profile['UserFriends']);
                            
                }
                else
                {
                  echo $this->Html->link(
                        (count($profile['UserFriends'])),
                            array('action' => 'Friend'));
                }
                            ?>
                </label>
                <li>
                <i></i>
                <label>Friend Request:<?php if($pending!=0)
                {
                  echo $this->Form->postlink(
                        (''.$pending.''),
                            array('controller'=>'Profiles','action' => 'friendrequest' ));

                }//print_r($profile);
                 ?> 
                <div class="clear"></div></label>
                
            </li>
            </li>

        </ul>
        <table style="undefined;table-layout: fixed; width: 298px">
<colgroup>
<col style="width: 225px">
<col style="width: 73px">
</colgroup>
  <tr>
        <?php
        //print_r($profile['Comment'][0]['commentDescription']);
        foreach($profile as $post):
          
         ?>

    <th></th><?php print_r($post); ?>
    <th rowspan="2">Comment</th>
  </tr>
  <tr>
    <td>Descrip</td>
  </tr>
  <?php 

   endforeach;


        ?>
</table>
