    <th><?php echo $profile['Profile']['firstname'].' '.$profile['Profile']['lastname']; ?></th>
    <th><?php echo $profile['Profile']['username']; ?> <?php
    if($FriendOrNot!=null)
    {
    	echo $this->Form->postlink(
                        ('Add Friend'),
                            array('controller'=>'Profiles','action' => 'addFriend',$profile['Profile']['id'] ),array(
                	'confirm' => 'Are you sure you want to add this user?'));
    }



    ?></th>
  </tr>